<html>

<head>
  <meta charset="UTF-8" />

  <title>{{ hostname }}'s NAS</title>

  <link rel="stylesheet" href="/public/styles/common.css" />
  <link rel="stylesheet" href="/public/styles/icons.css" />
  <link rel="stylesheet" href="/public/styles/dark.css" />
  <link rel="stylesheet" href="/public/styles/fs.css" />
  <link rel="stylesheet" href="/public/styles/tooltip.css" />
</head>

<body>
  <header>
    <span id="title">/fs</span>
    <span id="user">{{ username }}</span>
  </header>

  <main>
    <section id="breadcrumbs">
      <span class="breadcrumbs__dir-name">/</span>
      <span class="breadcrumbs__separator">🢒</span>

      {{#each breadcrumbs as |b|}}
      <span class="breadcrumbs__dir-name">{{b}}</span>
      <span class="breadcrumbs__separator">🢒</span>
      {{/each}}
    </section>

    <section id="toolbar" class="tooltip">
      <button class="icon button">
        <div class="icon" data-icon="plus"></div>
      </button>

      <ul>
        <li onclick="addFile()">New File</li>
        <li onclick="addDir()">New Folder</li>
      </ul>
    </section>

    <section id="content">
      <ul id="file-list">
        <form id="add-file" enctype="multipart/form-data">
          <input id="image-file" type="file" name="file" onchange="upload()" />
        </form>

        <li class="file-list__item" title="Parent">
          <div class="icon file-list__item__icon" data-icon="none"></div>
          <a class="file-list__item__name" href="/fs/{{parent_href}}">..</a>
        </li>

        {{#each files as |file|}}
        <li class="file-list__item" title="{{file.name}}">
          <div class="icon file-list__item__icon" data-icon="dir"></div>
          <a class="file-list__item__name" href="/fs/{{file.relative_path_str}}">{{file.name}}</a>
          <span class="file-list__item__type">{{file.extension}}</span>
          <span class="file-list__item__size">0KiB</span>

          <button id="edit-button" class="icon button">
            <div class="icon" data-icon="pencil"></div>
          </button>
          <button id="remove-button" class="icon button">
            <div class="icon" data-icon="cross"></div>
          </button>
        </li>
        {{/each}}
      </ul>
    </section>
  </main>

  <script src="/public/scripts/tooltip.js"></script>
  <script src="/public/scripts/fs.js"></script>
</body>

</html>