<html>

<head>
  <meta charset="UTF-8" />

  <title>{{ hostname }}'s NAS</title>

  <link rel="icon" href="/public/icons/nas.svg">
  <link rel="stylesheet" href="/public/styles/common.css" />
  <link rel="stylesheet" href="/public/styles/icons.css" />
  <link rel="stylesheet" href="/public/styles/dark.css" />
  <link rel="stylesheet" href="/public/styles/fs.css" />
  <link rel="stylesheet" href="/public/styles/tooltip.css" />
</head>

<body>
  <header>
    <span id="title">/fs</span>
    <span id="user">{{ username }}</span>
  </header>

  <main>
    <section id="breadcrumbs">
      <div class="icon breadcrumbs__separator" data-icon="nas"></div>
      <div class="icon breadcrumbs__separator" data-icon="chevron-right"></div>

      {{#each breadcrumbs as |b|}}
      <span class="breadcrumbs__dir-name">{{b}}</span>
      <div class="icon breadcrumbs__separator" data-icon="chevron-right"></div>
      {{/each}}
    </section>

    <section id="toolbar" class="tooltip">
      <button id="upload-button" class="icon button">
        <div class="icon" data-icon="upload"></div>
      </button>

      <div id="upload-progress">72%</div>

      <ul>
        <li onclick="addFile()">
          <div class="icon" data-icon="file-add"></div>
          New File
        </li>
        <li onclick="addDir()">
          <div class="icon" data-icon="dir-add"></div>
          New Directory
        </li>
      </ul>
    </section>

    <section id="content">
      <ul id="file-list">

        <li class="file-list__item" title="Parent">
          <div class="icon file-list__item__icon" data-icon="none"></div>
          <a class="file-list__item__name" href="/fs/{{parent_href}}">..</a>
        </li>

        {{#each files as |file|}}
        <li class="file-list__item" title="{{file.name}}">
          <div class="icon file-list__item__icon" data-icon="{{ lowercase file.category }}"></div>
          <a class="file-list__item__name" href="/fs/{{file.relative_path_str}}">{{file.name}}</a>
          <span class="file-list__item__type">{{file.extension}}</span>
          <span class="file-list__item__size">0KiB</span>

          <button id="edit-button" class="icon button">
            <div class="icon" data-icon="edit"></div>
          </button>
          <button id="remove-button" class="icon button" onclick='confirmDeletePath(this)'>
            <div class="icon" data-icon="trash"></div>
          </button>
          <button id="confirm-remove-button" class="icon button" onclick='deletePath("{{ file.name }}")'>
            <div class="icon" data-icon="alert"></div>
          </button>
        </li>
        {{/each}}
      </ul>
    </section>
  </main>

  <script src="/public/scripts/tooltip.js"></script>
  <script src="/public/scripts/fs.js"></script>
</body>

</html>